<h1>EMPLEADOS</h1>
<div class="form-group">
    <label >Nombre</label>
    <input type="text" class="form-control col-md-2" id="nombre" name="nombre">
    <label>Apellidos</label>
    <input type="text" class="form-control" id="apellidos" name="apellidos">
    <label>DNI</label>
    <input type="text" class="form-control" id="dni" name="dni">
    <label>Identificador</label>
    <input type="text" class="form-control" id="identificador" name="identificador">
    <label >Fecha alta</label>
    <input type="text" class="form-control" id="fecha_alta" name="fecha_alta">
    <label >Fecha baja</label>
    <input type="text" class="form-control" id="fecha_baja" name="fecha_baja">
    <label >Jornada</label>
    <input type="text" class="form-control" id="jornada" name="jornada">
</div>