<h1>EMPLEADOS</h1>

<div class="form-group" id="mi-div">
    <div class="mi-div-interno">
        <input type="text" id="nombre" name="nombre" placeholder="Nombre">
    </div>
    <div class="mi-div-interno">
        <input type="text" id="apellidos" name="apellidos" placeholder="Apellidos">
    </div>
    <div class="mi-div-interno">
        <input type="text" id="dni" name="dni" placeholder="DNI">
    </div>
    <div class="mi-div-interno">
        <input type="text" id="identificador" name="identificador" placeholder="Identificador">
    </div>
    <div class="mi-div-interno">
        <input type="text" id="fecha_alta" name="fecha_alta" placeholder="Fecha alta">
    </div>
    <div class="mi-div-interno">
        <input type="text" id="fecha_baja" name="fecha_baja" placeholder="Fecha baja">
    </div>
    <div class="mi-div-interno">
        <input type="text" id="jornada" name="jornada" placeholder="Jornada">
    </div>
</div>