<h1>Enero</h1>

<!--<table>
    <tr>
        <td id="uno">
            <app-dia [dia]=dia></app-dia>
        </td>
        <td>
            <app-dia [dia]=dia></app-dia>
        </td>
    </tr>
    <tr>
        <td id="tres">
            <app-dia [dia]=dia></app-dia>
        </td>
        <td>
            <app-dia [dia]=dia></app-dia>
        </td>
    </tr>

</table>-->
<!--
<table mat-table [datosDias]="datosDias">

</table>-->

<!--<li class="calendarioMes" *ngFor="let diaSemana of diasSemana">{{diaSemana}}</li>-->

<!-- CASI CASI
<table class="table table-bordered">
    <th *ngFor="let diaSemana of diasSemana">{{diaSemana}}</th>
        <td *ngFor="let semana of todosDias">
            <tr *ngFor="let diaSemana of semana">
                <app-dia [dia]=diaSemana></app-dia>
            </tr>
        </td>

</table>
-->
<!--
<table mat-table class="table table-bordered">
    <th *ngFor="let diaSemana of diasSemana">{{diaSemana}}</th>
    
</table>
-->

<table>
    <th *ngFor="let diaSemana of diasSemana">{{diaSemana}}</th>
    <tr *ngFor="let semana of matrizMes">
        <td *ngFor="let diaSemana of semana">
            <div *ngIf="diaSemana.dia==0"></div>
            <div *ngIf="diaSemana.dia!=0">
                <app-dia [dia] = diaSemana></app-dia>
            </div>
        </td>
    </tr>
</table>