<h1>Enero</h1>

<!--<table>
    <tr>
        <td id="uno">
            <app-dia [dia]=dia></app-dia>
        </td>
        <td>
            <app-dia [dia]=dia></app-dia>
        </td>
    </tr>
    <tr>
        <td id="tres">
            <app-dia [dia]=dia></app-dia>
        </td>
        <td>
            <app-dia [dia]=dia></app-dia>
        </td>
    </tr>

</table>-->
<!--
<table mat-table [datosDias]="datosDias">

</table>-->

<!--<li class="calendarioMes" *ngFor="let diaSemana of diasSemana">{{diaSemana}}</li>-->
<table>
    <th *ngFor="let diaSemana of diasSemana">{{diaSemana}}</th>
    <tr *ngFor="let semana of todosDias">
        <td *ngFor="let diaSemana of semana">
            <app-dia [dia]=diaSemana></app-dia>
        </td>
    </tr>

</table>