<div id="mi-div">
    <div id="mi-div-cabecera">
        <span>{{mes.nombreMes}}</span>
    </div>

    <table class="table table-bordered">
        <th *ngFor="let diaSemana of diasSemana">{{diaSemana}}</th>
        <tr *ngFor="let semana of matrizMes">
            <td *ngFor="let diaSemana of semana">
                <div *ngIf="diaSemana.dia==0"></div>
                <div *ngIf="diaSemana.dia!=0">
                    <app-dia [mes]=mes.mes [dia]=diaSemana [estados]=estadosPosibles [jornadas]=jornadasPosibles [usuarioEstado]=usuarioEstado></app-dia>
                </div>
            </td>
        </tr>
    </table>
</div>