.mi-dia-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 6%;
    align-items: center;
    border-radius: 4px;
}

.mi-dia-container>select {
    width: 100%;
    padding: 4%;
    border-radius: 8px;
}

.rojo{
    background-color: #ff0000;
}

.blanco{
    background-color: #ffffff;
}