<div class="container">
    

    <h1>{{saludo}}</h1>
    <button (click)="cargarEmpleado()">Cargar empleados</button>
    <!-- <button (click)="anadirEmpleado()">Añadir empleado</button> -->
    <table class="table">
        <tr>
            <td>Id</td>
            <td>Nombre</td>
            <td>Apellidos</td>
            <td>DNI</td>
            <td>Identificador</td>
            <td>Fecha de alta</td>
            <td>fecha de baja</td>
            <td>Jornada</td>
        </tr>

        <tr *ngFor="let empleado of empleado ">
            <td>{{empleado.id}}</td>
            <td>{{empleado.nombre}}</td>
            <td>{{empleado.apellidos}}</td>
            <td>{{empleado.dni}}</td>
            <td>{{empleado.identificador}}</td>
            <td>{{empleado.fecha_alta}}</td>
            <td>{{empleado.fecha_baja}}</td>
            <td>{{empleado.jornada.descripcion}}</td>
        </tr>

    </table>



    <router-outlet></router-outlet>
</div>