#mi-div {
    margin-top: 2%;
}

#mi-calendario-container {
    display: flex;
    flex-direction: column;
}

#mi-spinner-container {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}