<div id="mi-div">
    <form action="" class="form-inline">
        <label for="elegirAnio" class="mr-sm-3">Elige un año:</label>
        <select class="form-control mb-2 mr-sm-3" name="anio" id="anio" (change)="elegirAnio($event.target.value)">
        <option selected="true" disabled="disabled">Seleccione año:</option>
        <option *ngFor="let anioPosible of aniosPosibles" value={{anioPosible}}>
            {{anioPosible}}
        </option>
    </select>
    </form>

    <div id="mi-spinner-container" style="display: none;">
        <div class="spinner-border text-primary"></div>
        <p id="mi-cargando-msg">Cargando el calendario...</p>
    </div>

    <div id="mi-calendario-container">
        <div *ngFor="let mesDeAnio of anio">
            <app-mes [mes]=mesDeAnio></app-mes>
        </div>
    </div>

</div>